@import url(https://fonts.google.com/specimen/Roboto?query=roboto);

html {
    font-family: 'roboto',serif;
    background-color: beige;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");
}
h1 {
    color: green;
}
body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(66, 165, 71);
    font-size: 200%;
    border-top: 3px solid tomato;
}

footer:hover {
    background-color: tomato;
    transition: 1s;

}

img {
    height: 200px;
    box-shadow: 10px 5px 5px rgba(42, 50, 134, 0.404);
}

img:hover {
    box-shadow: 10px 5px 5px rgba(187, 94, 187, 0.432);
    transition: 1s;


}

nav {
    border-bottom: 3px solid rgb(66, 165, 71);
    padding: 16px;
}
.top {
    background-color: tomato;


}
.top:hover {
    background-color: rgb(66, 165, 71);
    transition: 1s;
}

a:hover {
    color:rgb(98, 0, 128);
}
a:link {
    text-decoration: none;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}

h3 {
    color: green;
}


a:link, a:visited{
    text-decoration: none;
    color: white;


}
a.recipe-title {
    color: green;
}

tr:nth-child(even) {

    background-color: rgba(128, 128, 128, 0.192);
}
